.frame {
    text-align: center;
    margin: auto;
}


img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.menulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.menulisti {
    float: left;
  }
  
.menulistilink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.menulistilink:hover {
    background-color: #111;
  }

  body {
    background-color: #C9F0E9;
     }
  
button {
    color:#F2BBD8;
    border:#C7B8F2
    }